@import "tailwindcss";
@font-face {
  font-family: "iranYekan";
  src: url(/font//BYekan+.ttf);
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #919090;
  }
}
html {
  scroll-behavior: smooth;
}

* {
  color: black;
  font-family: "iranYekan";
}

body {
  /* background: var(--foreground); */
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.banner{
  background-image: url(../../public//slide//1000_header.jpg);
  height: 205px;
}

.child:nth-child(3){
width: 100;
display: none !important;
}