@import "tailwindcss";
@font-face {
  font-family: "iranYekan";
  src: url(/font//BYekan+.ttf);
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
} */
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-in {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
/* globals.css */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-6px);
  }
  75% {
    transform: translateX(6px);
  }
}

.animate-shake {
  animation: shake 0.4s ease-in-out;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}


.animate-slide-in { animation: slide-in 0.3s ease-out; }


.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #919090;
  }
}
html {
  scroll-behavior: smooth;
}

* {
  color: black;
  font-family: "iranYekan";
}

body {
  /* background: var(--foreground); */
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.banner{
  background-image: url(../../public//slide//1000_header.jpg);
  height: 205px;
}

.child:nth-child(3){
width: 100;
display: none !important;
}